body {
    font-family:'Times New Roman', Times, serif;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.quiz-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    background-color: #f1caa3;
    color:Green;
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.options label {
    display: block;
    margin: 10px 0;
}

.navigation-buttons button {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.navigation-buttons button:first-child {
    background-color: #007bff;
    color: white;
}

.navigation-buttons button:nth-child(2) {
    background-color: #28a745;
    color: white;
}

.navigation-buttons #submit-btn {
    background-color: #dc3545;
    color: white;
}
